.neon-frame {
  box-shadow:
    0 0 20px rgba(168,85,247,.6),
    inset 0 0 20px rgba(168,85,247,.3);
}

.gold   { box-shadow: 0 0 20px #facc15; }
.silver { box-shadow: 0 0 18px #e5e7eb; }
.bronze { box-shadow: 0 0 18px #fb923c; }

.standard {
  box-shadow: 0 0 10px rgba(34,211,238,.35);
}

.empty {
  opacity: .35;
  border-style: dashed;
}
