# Discord
DISCORD_TOKEN="ton_token_bot"
DISCORD_CLIENT_ID="ton_client_id"
DISCORD_GUILD_ID="ton_server_id"

# Channels prédéfinis
CHANNEL_SESSIONS="id_channel_inscriptions"
CHANNEL_DUELS="id_channel_duels"
CHANNEL_RESULTS="id_channel_resultats"
CHANNEL_LEADERBOARD="id_channel_leaderboard"

# API NestJS
API_URL="http://localhost:3000"
API_SECRET="meme_jwt_secret_que_le_back"

#Server Bot
BOT_PORT=3001
